.NumbersL {
  margin-top: 100px;
  border: dotted 1px;
  display: block;
  max-width: 300px;
  max-height: 300px;
}

.Answer {
  margin-top: 15px;
max-width: 40px;
max-height: 20px;
}

.divNumber {
    //border: dotted 1px;
  margin-top: 50px;
  margin-left: 30px;
  display: inline-flex;
  justify-content: space-between;
}